<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
 	<title>Profile Page</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" href="../assets/css/profilepage.css" type="text/css">
      <link rel="stylesheet" href="../assets/css/Navbar.css" type="text/css">
	  <script src="../assets/js/landing.js"></script>
</head>
<body>
  <!-- navbar -->
  <div class="navbar">
  	<span><strong>Faculty Availability</strong></span>
	    <div class="dropdown">
 	  	    <div class="dropbtn" style="width: 80%;">Name<i class="fa fa-caret-down"></i> </div>  
            <div class="dropdown-content">
	      	    <a href="#">Profile</a>
	      	    <a href="#">Logout</a>
	      	    <a href="#">Help</a>
          </div>
        </div> 
  	<a href="#">Common Page</a>
  	<a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
  </div> 

	<div class="container">
		<form>
			<label>Name </label>
			<input type="text" name="name" disabled value="Sample Name 1"> 
			<br>
			<label>Email</label>
			<input type="email" name="email" disabled value="tag@iitmandi.ac.in">
			<br>
			<label>Phone</label>
			<input type="text" name="phone">
			<br>
			<label>School</label>
			<input type="text" name="school">
			<br>
			<label>Office</label>
			<input type="text" name="office">
			<br>
			<label>Designation</label>
			<input type="text" name="designation">
			<br>

			<button class="mngbtn"> Update Profile</button>
		</form>
		
	</div>




</body>

</html> 


