/*formatting for background of the page and the fonts used */
body {
    background-image: url(../images/bg2.jpg);
    background-color: transparent;
    background-size: cover;
    color: whitesmoke;
    font-family: "Helvetica", "Arial", sans-serif;
}
/* font size for span tag */
span {
  font-size: 14pt;
}
/*font size for p tag */
.p1 {
  font-size: 16pt;
  color: goldenrod;
}
/* formatting for h1 */
h1 {
  margin-top: 1em;
  padding-top: 1em;
  text-align: center;
}
img {
  border-radius: 15px;
}
/* formatting for the footer */  
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
section {
  display: block;
}
/* formatting for the buttons */
#buttons li {
  border: 5px solid white;
  float: left;
  list-style: none;
  text-align: center;
  background-color:transparent;
  opacity: 0.75;
  margin-inline-start: 100px;
  margin-inline-end: 50px;
  width: 150px;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold; 
}
/*formatting for the buttons */
#buttons li a {
  text-decoration: none;
  color: white;
  display: block;
}
/* formatting for buttons on hovering mouse */
#buttons li a:hover {
  color:black;
  background-color: #FFFFFF;
  font-size: 25px;
  font-weight: normal;
}
/*color formatting for footer anchor link */
.footer a {
  color: white;
}